@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fafafa;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* app/globals.css */

.animated-svg {
  overflow: hidden;
  margin: 0;
}

.animated-svg svg {
  width: 100vw;
  height: 150vh;
  opacity: 0;
}

.animated-svg defs path {
  stroke: white;
  stroke-width: 2px;
}

/* floating cursor css */

@keyframes cursor-move {
  0% {
    transform: translate(800%, 170%);
    opacity: 1;
  }

  40% {
    transform: translate(520%, 250%);
    opacity: 1;
  }

  60% {
    transform: translate(520%, 250%);
    /* pause in middle */
    opacity: 1;
  }

  100% {
    transform: translate(430%, 450%);
    opacity: 0;
  }
}

/* utility class for the cursor */
.cursor-anim {
  animation: cursor-move 3s ease-in-out infinite;
}

/* Typing animation for process.tsx */

@keyframes typing-dot {
  0%, 60%, 100% {
    transform: translateY(0);
    opacity: 0.4;
  }
  30% {
    transform: translateY(-4px);
    opacity: 1;
  }
}

/* html {
  scroll-behavior: smooth;
} */

@font-face {
  font-family: neuehass;
  src: url(/my-portfolio/public/fonts/Neue-Haas-Grotesk-Display-Pro-75-Bold.ttf);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
