@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Press+Start+2P&family=Graduate&family=EB+Garamond:wght@700&family=Audiowide&display=swap');
@config "../tailwind.config.mjs";
@import "tailwindcss/preflight";
@import "tailwindcss";
/* In globals.css or add to your existing font imports */

@font-face {
    font-family: 'Moderat';
    src: url('/fonts/Moderat-Trial-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: 'Moderat', sans-serif;
    font-size: small;
  }

  @layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
    .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }