@config "../tailwind.config.mjs";
@import "tailwindcss/preflight";
@import "tailwindcss";

@font-face {
    font-family: 'Moderat';
    src: url('/fonts/Moderat-Trial-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: 'Moderat', sans-serif;
    font-size: small;
  }

  @layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
    .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }